<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Plantilla del Málaga CF 2022-23
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Plantilla del Málaga CF 2022-23</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="introducePlayer">
    <div>
      <ion-item lines="full">
        <ion-card-header>
          <ion-card-title>Añadir Jugador</ion-card-title>
        </ion-card-header>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="name" placeholder="Introduce el nombre del jugador" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Dorsal</ion-label>
        <ion-input [(ngModel)]="dorsal" placeholder="Introduce el dorsal del jugador" required></ion-input>
      </ion-item>
    
      <ion-button id="add" (click)="addPlayer(name, dorsal)">Añadir</ion-button>
    </div>
  </ion-card>
  <div id="noPlayers">
    <ion-text color="warning" *ngIf="team.length==0">Aún no hay jugadores introducidos</ion-text>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let player of team" size="12" size-md="6" size-xl="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Nombre: {{player.name}}</ion-card-title>
            <ion-card-title>Dorsal: {{player.dorsal}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="removePlayer(player.dorsal)">Borrar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
