ion-card {  
    text-align:center;
}

#introducePlayer {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    text-align:center;
}

ion-card-header {
    margin:auto;
}

#noPlayers {
    margin-top: 5%;
    text-align: center;
}

ion-grid {
    margin-top: 5%;
}

#add {
    margin-top: 2%;
}